@import "~bootstrap/scss/bootstrap.scss";

body {
  background: green;
  text-align: center;
}
.card {
  text-align: center;
  background: white;
  height: 380px;
  font-size: 120px;
  width: 250px;
  padding-top: 80px;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 5%;
  margin-right: 50%;
  margin-left: 30%;
}

h1 {
  position: absolute;
  top: 15px;
  left: 10px;
  right: 10px;
  font-size: 30px;
}
/*

    body{
        background: #BDBDBD;
    }

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
